<div class="sticky contain-to-grid">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1>
                    <a href="index.html">
                        <img id="logo-top-bar" src="images/nifiDrop.svg" alt="Apache NiFi"/>
                    </a>
                </h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
                <li class="has-dropdown">
                    <a href="#">Project</a>
                    <ul class="dropdown">
                        <li><a href="#">Home</a></li>
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Apache NiFi Blog</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="http://www.apache.org/licenses/LICENSE-2.0"><i class="fa fa-external-link external-link"></i>License</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Documentation</a>
                    <ul class="dropdown">
                        <li><a href="/docs/faq.html">FAQ</a></li>
                        <li><a href="#">NiFi Overview</a></li>
                        <li><a href="#">User Guide</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Community</a>
                    <ul class="dropdown">
                        <li><a href="mailing_lists.html">Mailing Lists</a></li>
                        <li><a href="#">People</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">Development</a>
                    <ul class="dropdown">
                        <li><a href="#">Quickstart</a></li>
                        <li><a href="#">Release Guide</a></li>
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Source</a></li>
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Issues</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="#">ASF Links</a>
                    <ul class="dropdown">
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Apache Software Foundation</a></li>
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Sponsorship</a></li>
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Security</a></li>
                        <li><a href="#"><i class="fa fa-external-link external-link"></i>Thanks</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>