---
title: Apache NiFi Mailing Lists
---

{{#markdown}}
# <img alt="NiFi logo" style="float: right" src="images/niFi-logo-horizontal.png" /> Apache NiFi Mailing Lists

These are the mailing lists that have been established for this project. For each list, there is a subscribe, unsubscribe, and an archive link.

<table class="table table-striped">
<tr>
<th>Name</th>
<th>Subscribe</th>
<th>Unsubscribe</th>
<th>Post</th>
<th>Archive</th></tr>
<tr>
<td>Developers Mailing List</td>
<td><a class="externalLink" href="mailto:dev-subscribe@nifi.incubator.apache.org">Subscribe</a></td>
<td><a class="externalLink" href="mailto:dev-unsubscribe@nifi.incubator.apache.org">Unsubscribe</a></td>
<td><a class="externalLink" href="mailto:dev@nifi.incubator.apache.org">Post</a></td>
<td><a class="externalLink" href="http://mail-archives.apache.org/mod_mbox/incubator-nifi-dev/">mail-archives.apache.org</a></td></tr>
<tr>
<td>Commits Mailing List</td>
<td><a class="externalLink" href="mailto:commits-subscribe@nifi.incubator.apache.org">Subscribe</a></td>
<td><a class="externalLink" href="mailto:commits-unsubscribe@nifi.incubator.apache.org">Unsubscribe</a></td>
<td><a class="externalLink" href="mailto:commits@nifi.incubator.apache.org">Post</a></td>
<td><a class="externalLink" href="http://mail-archives.apache.org/mod_mbox/incubator-nifi-commits/">mail-archives.apache.org</a></td></tr></table>
 
## Mailing List Archives

Some other popular archive sources which are not part of the official Apache archives.

* [Developer List archive on Nabble](http://apache-nifi-incubating-developer-list.39713.n7.nabble.com/) 
{{/markdown}}